<?xml version="1.0" encoding="utf-8"?>
<!-- https://docs.microsoft.com/en-us/windows-hardware/customize/desktop/unattend/ -->
<unattend xmlns="urn:schemas-microsoft-com:unattend" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State">
    <settings pass="windowsPE">
        <component name="Microsoft-Windows-PnpCustomizationsWinPE" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <DriverPaths>
                <PathAndCredentials wcm:keyValue="1" wcm:action="add">
{% if packer_builder == 'iso' %}
                    <Path>D:\drivers</Path>
{% else %}
                    <Path>E:\</Path>
{% endif %}
                </PathAndCredentials>
            </DriverPaths>
        </component>
        <component name="Microsoft-Windows-International-Core-WinPE" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <SetupUILanguage>
                <UILanguage>{{ win_locale_system }}</UILanguage>
            </SetupUILanguage>
            <InputLocale>{{ win_locale_input }}</InputLocale>
            <SystemLocale>{{ win_locale_system }}</SystemLocale>
            <UILanguage>{{ win_locale_ui }}</UILanguage>
            <UILanguageFallback>{{ win_locale_system }}</UILanguageFallback>
            <UserLocale>{{ win_locale_user }}</UserLocale>
        </component>
        <component name="Microsoft-Windows-Setup" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <DiskConfiguration>
                <Disk wcm:action="add">
                    <DiskID>0</DiskID>
                    <WillWipeDisk>true</WillWipeDisk>
                    <CreatePartitions>
{% if win_partitioning == 'bios' %}
                        <CreatePartition wcm:action="add">
                            <Order>1</Order>
                            <Type>Primary</Type>
                            <Extend>true</Extend>
                        </CreatePartition>
{% elif win_partitioning == 'uefi' %}
                        <CreatePartition wcm:action="add">
                            <Order>1</Order>
                            <Type>EFI</Type>
                            <Size>100</Size>
                        </CreatePartition>
                        <CreatePartition wcm:action="add">
                            <Order>2</Order>
                            <Type>MSR</Type>
                            <Size>16</Size>
                        </CreatePartition>
                        <CreatePartition wcm:action="add">
                            <Order>3</Order>
                            <Type>Primary</Type>
                            <Extend>true</Extend>
                        </CreatePartition>
{% elif win_partitioning == 'custom' %}
{{ win_custom_partitioning_create }}
{% endif %}
                    </CreatePartitions>
                    <ModifyPartitions>
{% if win_partitioning == 'bios' %}
                        <ModifyPartition wcm:action="modify">
                            <Order>1</Order>
                            <PartitionID>1</PartitionID>
                            <Format>NTFS</Format>
                            <Label>Windows</Label>
                            <Letter>C</Letter>
                        </ModifyPartition>
{% elif win_partitioning == 'uefi' %}
                        <ModifyPartition wcm:action="modify">
                            <Order>1</Order>
                            <PartitionID>1</PartitionID>
                            <Format>FAT32</Format>
                            <Label>System</Label>
                        </ModifyPartition>
                        <ModifyPartition wcm:action="modify">
                            <Order>2</Order>
                            <PartitionID>2</PartitionID>
                        </ModifyPartition>
                        <ModifyPartition wcm:action="modify">
                            <Order>3</Order>
                            <PartitionID>3</PartitionID>
                            <Format>NTFS</Format>
                            <Label>Windows</Label>
                            <Letter>C</Letter>
                        </ModifyPartition>
{% elif win_partitioning == 'custom' %}
{{ win_custom_partitioning_modify }}
{% endif %}
                    </ModifyPartitions>
                </Disk>
                <WillShowUI>OnError</WillShowUI>
            </DiskConfiguration>
            <ImageInstall>
                <OSImage>
                    <InstallFrom>
                        <MetaData wcm:action="add">
                            <Key>/IMAGE/{{ win_os_index }}</Key>
                            <Value>{{ win_os_edition }}</Value>
                        </MetaData>
                    </InstallFrom>
                    <InstallTo>
                        <DiskID>0</DiskID>
{% if win_partitioning == 'bios' %}
                        <PartitionID>1</PartitionID>
{% elif win_partitioning == 'uefi' %}
                        <PartitionID>3</PartitionID>
{% elif win_partitioning == 'custom' %}
                        <PartitionID>{{ win_custom_partitioning_install_to }}</PartitionID>
{% endif %}
                    </InstallTo>
                    <WillShowUI>OnError</WillShowUI>
                </OSImage>
            </ImageInstall>
            <UserData>
{% if win_product_key is defined %}
                <ProductKey>
                    <Key>{{ win_product_key }}</Key>
                    <WillShowUI>OnError</WillShowUI>
                </ProductKey>
{% endif %}
                <AcceptEula>true</AcceptEula>
            </UserData>
            <Diagnostics>
                <OptIn>false</OptIn>
            </Diagnostics>
        </component>
    </settings>
    <settings pass="offlineServicing"></settings>
    <settings pass="generalize"></settings>
    <settings pass="specialize">
        <component name="Microsoft-Windows-SQMAPI" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <CEIPEnabled>0</CEIPEnabled>
        </component>
        <component name="Microsoft-Windows-Security-SPP-UX" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <SkipAutoActivation>true</SkipAutoActivation>
        </component>
        <component name="Microsoft-Windows-ServerManager-SvrMgrNc" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <DoNotOpenServerManagerAtLogon>true</DoNotOpenServerManagerAtLogon>
        </component>
        <component name="Microsoft-Windows-SystemRestore-Main" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <DisableSR>1</DisableSR>
        </component>
    </settings>
    <settings pass="auditSystem"></settings>
    <settings pass="auditUser"></settings>
    <settings pass="oobeSystem">
        <component name="Microsoft-Windows-International-Core" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <InputLocale>{{ win_locale_input }}</InputLocale>
            <SystemLocale>{{ win_locale_system }}</SystemLocale>
            <UILanguage>{{ win_locale_ui }}</UILanguage>
            <UILanguageFallback>{{ win_locale_system }}</UILanguageFallback>
            <UserLocale>{{ win_locale_user }}</UserLocale>
        </component>
        <component name="Microsoft-Windows-WinRE-RecoveryAgent" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <UninstallWindowsRE>true</UninstallWindowsRE>
        </component>
        <component name="Microsoft-Windows-Shell-Setup" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <ComputerName>*</ComputerName>
{% if win_registered_owner is defined %}
            <RegisteredOwner>{{ win_registered_owner }}</RegisteredOwner>
{% endif %}
{% if win_registered_organization is defined %}
            <RegisteredOrganization>{{ win_registered_organization }}</RegisteredOrganization>
{% endif %}
            <TimeZone>{{ win_timezone }}</TimeZone>
            <UserAccounts>
                <AdministratorPassword>
                    <Value>{{ (win_admin_password + 'AdministratorPassword') | b64encode(encoding='utf-16-le') }}</Value>
                    <PlainText>false</PlainText>
                </AdministratorPassword>
                <LocalAccounts>
                    <LocalAccount wcm:action="add">
                        <Name>{{ win_remote_user }}</Name>
                        <Group>Administrators</Group>
                        <Password>
                            <Value>{{ (win_admin_password + 'Password') | b64encode(encoding='utf-16-le') }}</Value>
                            <PlainText>false</PlainText>
                        </Password>
                        <DisplayName>Remote Admin</DisplayName>
                        <Description>Remote Admin for Ansible</Description>
                    </LocalAccount>
                </LocalAccounts>
            </UserAccounts>
            <AutoLogon>
                <Enabled>true</Enabled>
                <LogonCount>1</LogonCount>
                <Username>Administrator</Username>
                <Password>
                    <Value>{{ (win_admin_password + 'Password') | b64encode(encoding='utf-16-le') }}</Value>
                    <PlainText>false</PlainText>
                </Password>
            </AutoLogon>
            <OOBE>
                <HideEULAPage>true</HideEULAPage>
                <HideOEMRegistrationScreen>true</HideOEMRegistrationScreen>
                <HideOnlineAccountScreens>true</HideOnlineAccountScreens>
                <HideWirelessSetupInOOBE>true</HideWirelessSetupInOOBE>
                <HideLocalAccountScreen>true</HideLocalAccountScreen>
                <NetworkLocation>Work</NetworkLocation>
                <ProtectYourPC>3</ProtectYourPC>
                <VMModeOptimizations>
                    <SkipAdministratorProfileRemoval>true</SkipAdministratorProfileRemoval>
                    <SkipNotifyUILanguageChange>true</SkipNotifyUILanguageChange>
                    <SkipWinREInitialization>true</SkipWinREInitialization>
                </VMModeOptimizations>
            </OOBE>
            <FirstLogonCommands>
                <SynchronousCommand wcm:action="add">
                    <CommandLine>cmd.exe /c powershell -Command Stop-Service wuauserv -Force</CommandLine>
                    <Description>Stop wuauserv service temporarily</Description>
                    <Order>1</Order>
                </SynchronousCommand>
                <SynchronousCommand wcm:action="add">
                    <CommandLine>cmd.exe /c powershell -Command New-Item -Path HKLM:\SYSTEM\CurrentControlSet\Control\Network\NewNetworkWindowOff -Force</CommandLine>
                    <Description>Disable network location wizard</Description>
                    <Order>2</Order>
                </SynchronousCommand>
                <SynchronousCommand wcm:action="add">
                    <CommandLine>cmd.exe /c powershell -Command Set-LocalUser -Name {{ win_remote_user }} -PasswordNeverExpires $true</CommandLine>
                    <Description>Disable password expiration for Remote Admin user</Description>
                    <Order>3</Order>
                </SynchronousCommand>
                <SynchronousCommand wcm:action="add">
                    <CommandLine>cmd.exe /c powershell -Command "New-Item -Path 'HKLM:\SOFTWARE\Microsoft\Windows NT\CurrentVersion\Winlogon\SpecialAccounts\UserList' -Force | New-ItemProperty -Name {{ win_remote_user }} -PropertyType DWord -Value 0 -Force"</CommandLine>
                    <Description>Hide Remote Admin user</Description>
                    <Order>4</Order>
                </SynchronousCommand>
                <SynchronousCommand wcm:action="add">
                    <CommandLine>cmd.exe /c powershell -Command "New-Item -Path HKLM:\SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\System -Force | New-ItemProperty -Name DontDisplayLastUserName -PropertyType DWord -Value 1 -Force"</CommandLine>
                    <Description>Hide last user in Welcome Screen</Description>
                    <Order>5</Order>
                </SynchronousCommand>
{% if packer_builder == 'qemu' %}
                <SynchronousCommand wcm:action="add">
                    <CommandLine>cmd.exe /c {{ win_vm_tools_disk }}\virtio-win-guest-tools.exe /install /passive /norestart</CommandLine>
                    <Description>Install VM tools</Description>
                    <Order>6</Order>
                </SynchronousCommand>
{% endif %}
{% if packer_builder == 'vmware' %}
                <SynchronousCommand wcm:action="add">
                    <CommandLine>cmd.exe /c {{ win_vm_tools_disk }}\setup64.exe /S /v "/qn REBOOT=R"</CommandLine>
                    <Description>Install VM tools</Description>
                    <Order>6</Order>
                </SynchronousCommand>
{% endif %}
                <SynchronousCommand wcm:action="add">
                    <CommandLine>cmd.exe /c powershell -ExecutionPolicy Bypass -File {{ win_src_disk }}\custom.ps1</CommandLine>
                    <Description>Customize system</Description>
                    <Order>7</Order>
                </SynchronousCommand>
                <SynchronousCommand wcm:action="add">
                    <CommandLine>cmd.exe /c powershell -ExecutionPolicy Bypass -File {{ win_src_disk }}\remote.ps1</CommandLine>
                    <Description>Configure remote access</Description>
                    <Order>8</Order>
                </SynchronousCommand>
{% if packer_builder != 'iso' %}
                <!-- Finalize VM installation with Ansible -->
                <SynchronousCommand wcm:action="add">
                    <CommandLine>cmd.exe /c logoff</CommandLine>
                    <Description>Logoff</Description>
                    <Order>9</Order>
                </SynchronousCommand>
{% else %}
                <SynchronousCommand wcm:action="add">
                    <CommandLine>cmd.exe /c powershell Restart-Computer</CommandLine>
                    <Description>Reboot</Description>
                    <Order>9</Order>
                </SynchronousCommand>
{% endif %}
            </FirstLogonCommands>
        </component>
    </settings>
</unattend>
