{
  "builders": [
    {
      "type": "qemu",

      "qemu_binary": "{{ qemu_binary }}",
      "qemuargs": [{{ qemu_args }}],
      "accelerator": "{{ qemu_accelerator }}",
      "headless": true,
      "output_directory": "{{ output_directory }}",

      "vm_name": "{{ vm_name + '.qcow2' if '.qcow2' not in vm_name else vm_name }}",

      "vTPM": {{ vm_tpm | string | lower }},
{% if vm_type == 'uefi' or vm_type == 'uefi-secure' %}
      "machine_type": "q35",
      "efi_firmware_code": "{{ qemu_uefi_code }}",
      "efi_firmware_vars": "{{ qemu_uefi_vars }}",
{% endif %}

      "cpus": {{ vm_cpus }},
      "memory": {{ vm_memory }},

      "disk_interface": "virtio",
      "disk_size": "{{ vm_disk_size }}",
      "disk_cache": "none",
      "format": "qcow2",

      "net_device": "virtio-net",

      "iso_url": "{{ iso[packer_target].url }}",
      "iso_checksum": "{{ iso[packer_target].checksum }}",

      "cd_files": ["inst.cfg"],
      "cd_label": "inst.cfg",

      "boot_wait": "{{ boot_wait }}",
      "boot_command": [
        "{{ boot_command }} {{ boot_parameters }} {{ boot_start }}"
      ],

{% if custom_json_builder_section is defined %}
{{ custom_json_builder_section }}
{% endif %}

      "communicator": "{{ communicator }}",
      "shutdown_timeout": "{{ shutdown_timeout }}"
    }
{% if custom_json_provisioner is not defined %}
  ]
{% else %}
  ],
  "provisioners": [
{{ custom_json_provisioner }}
  ]
{% endif %}
}
