#debug --graphics
default=1
splashimage=@SPLASHPATH@
#timeout 60
hiddenmenu
title Install {{ packer_target_pretty }}
	findiso
	kernel @KERNELPATH@ @ROOT@ inst.ks=hd:LABEL={{ iso_volume_id }}:/inst.cfg {{ boot_parameters }} {{ iso_boot_parameters }}
	initrd @INITRDPATH@
title Test this media & install {{ packer_target_pretty }}
	findiso
	kernel @KERNELPATH@ @ROOT@ rd.live.check inst.ks=hd:LABEL={{ iso_volume_id }}:/inst.cfg {{ boot_parameters }} {{ iso_boot_parameters }}
	initrd @INITRDPATH@
