{
  "builders": [
    {
      "type": "qemu",

      "accelerator": "kvm",
      "qemu_binary": "/usr/libexec/qemu-kvm",
      "headless": true,
      "output_directory": "{{ output_directory }}",

      "vm_name": "{{ vm_name }}",

      "cpus": {{ vm_cpus }},
      "memory": {{ vm_memory }},
      "disk_size": "{{ vm_disk_size }}",

      "disk_interface": "virtio",
      "disk_cache": "none",
      "format": "qcow2",

      "net_device": "virtio-net",

      "iso_url": "{{ iso[packer_target].url }}",
      "iso_checksum": "{{ iso[packer_target].checksum }}",

      "cd_files": [ "inst.cfg" ],
      "cd_label": "inst.cfg",

      "boot_wait": "15s",
      "boot_command": [
        "<up><wait><tab><wait>ip=dhcp inst.ks=hd:/dev/sr1:inst.cfg inst.geoloc=0 inst.nosave=all {{ boot_parameters }}<enter><wait>"
      ],

      "ssh_username": "root",
      "ssh_password": "{{ root_pw_cleartext }}",
      "ssh_timeout": "15m"
    }
  ],
  "provisioners": [
    {
      "type": "shell",
      "script": "inst-sysprep",
      "remote_path": "/root/inst-sysprep",
      "expect_disconnect": true
    }
  ]
}
