{
  "builders": [
    {
      "type": "qemu",

      "qemu_binary": "{{ qemu_binary }}",
      "accelerator": "{{ qemu_accelerator }}",
      "headless": true,
      "output_directory": "{{ output_directory }}",

      "vm_name": "{{ vm_name + '.qcow2' if '.qcow2' not in vm_name else vm_name }}",

      "cpus": {{ vm_cpus }},
      "memory": {{ vm_memory }},
{% if vm_firmware is defined %}
      "firmware": "{{ vm_firmware }}",
{% endif %}

      "disk_interface": "virtio",
      "disk_size": "{{ vm_disk_size }}",
      "disk_cache": "none",
      "format": "qcow2",

      "net_device": "virtio-net",

      "iso_url": "{{ iso[packer_target].url }}",
      "iso_checksum": "{{ iso[packer_target].checksum }}",

      "cd_files": ["inst.cfg"],
      "cd_label": "inst.cfg",

      "boot_wait": "15s",
      "boot_command": [
        "{{ boot_command }} {{ boot_parameters }}<enter><wait>"
      ],

{% if custom_json_builder_section is defined %}
{{ custom_json_builder_section }}
{% endif %}

      "communicator": "{{ communicator }}",
      "shutdown_timeout": "15m"
    }
{% if custom_json_provisioner is not defined %}
  ]
{% else %}
  ],
  "provisioners": [
{{ custom_json_provisioner }}
  ]
{% endif %}
}
