# CentOS 7 base image kickstart file

install
cmdline
zerombr
clearpart --all --initlabel
bootloader --timeout 1 --append "{{ boot_parameters }}"
#reqpart
#part / --fstype xfs --asprimary --size 1024 --grow
autopart
selinux --enforcing
auth --useshadow --passalgo sha512
rootpw --iscrypted {{ root_pw_encrypted }}
network --bootproto dhcp --onboot yes --hostname {{ hostname }}
firewall --enabled --service ssh
firstboot --disabled
lang en_US.UTF-8
timezone --ntpservers {{ ntp_servers }} --utc {{ timezone }}
keyboard {{ keyboard }}
services --enabled tuned
reboot

%packages

@Core
bash-completion
bzip2
chrony
libselinux-python
man-pages
nano
openssh-clients
policycoreutils-python
psmisc
setools-console
tar
tuned
#unzip
yum-utils

-biosdevname
-btrfs-progs
-dracut-config-rescue
-*firmware*
-NetworkManager-team
-NetworkManager-tui
-parted
-plymouth
-sssd*
%end

%post
sed -i -e 's,^AllowZoneDrifting=yes,AllowZoneDrifting=no,' /etc/firewalld/firewalld.conf
sed -i -e 's,^#UseDNS yes,UseDNS no,' /etc/ssh/sshd_config
sed -i -e 's,^PermitRootLogin no,PermitRootLogin yes,' /etc/ssh/sshd_config
%end
