# CentOS 8 base image kickstart file

cmdline
zerombr
clearpart --all --initlabel --disklabel gpt
bootloader --timeout 1 --append "{{ boot_parameters }}"
#reqpart
#part / --fstype xfs --size 1024 --grow
autopart
selinux --enforcing
authselect --useshadow --passalgo sha512
rootpw --iscrypted {{ root_pw_encrypted }}
network --device net0 --bootproto dhcp --onboot yes --hostname {{ hostname }}
firewall --enabled --service ssh
firstboot --disabled
lang en_US.UTF-8
timezone --ntpservers {{ ntp_servers }} --utc {{ timezone }}
keyboard {{ keyboard }}
services --enabled tuned
poweroff

%packages
@Core
bash-completion
bzip2
man-pages
nano
policycoreutils-python-utils
prefixdevname
psmisc
python3
python3-libselinux
setools-console
tar
tuned
#unzip
vim-enhanced
yum-utils

{% if packer_builder == 'vmware' %}
perl-File-Temp
{%endif %}

-a*firmware*
-biosdevname
-dracut-config-rescue
-i*firmware*
-lib*firmware*
-NetworkManager-team
-NetworkManager-tui
-parted
-plymouth
-sqlite
-sssd*
%end

%post --erroronfail
echo "blacklist floppy" > /etc/modprobe.d/blacklist-floppy.conf
sed -i -e 's,^AllowZoneDrifting=yes,AllowZoneDrifting=no,' /etc/firewalld/firewalld.conf
%end

{% if root_ssh_key is defined %}
%post --erroronfail
mkdir -m 0700 /root/.ssh
echo "{{ root_ssh_key }}" > /root/.ssh/authorized_keys
chmod 0600 /root/.ssh/authorized_keys
restorecon -R /root/.ssh
%end
{% endif %}


%post --erroronfail
# kdump is mostly unhelpful with CentOS
systemctl disable kdump.service

# Update to latest packages
yum -y update

# Configure root SSH access
sed -Ei -e 's,^(#|)PermitRootLogin .*,PermitRootLogin {{ ssh_permit_root }},' /etc/ssh/sshd_config

# Remove machine identification and state
truncate -s 0 /etc/machine-id /etc/resolv.conf
/bin/rm -rf /etc/systemd/network/7* /etc/udev/rules.d/7* /etc/ssh/ssh_host_*
/bin/rm -rf /var/lib/systemd/random-seed

# Clear caches, files, and logs
/bin/rm -rf /root/* /tmp/* /tmp/.[a-zA-Z]* /var/tmp/*
/bin/rm -rf /etc/*- /etc/*.bak /etc/*~ /etc/sysconfig/*~
/bin/rm -rf /var/cache/dnf/* /var/cache/yum/*
/bin/rm -rf /var/lib/dnf/* /var/lib/yum/repos/* /var/lib/yum/yumdb/*
/bin/rm -rf /var/lib/NetworkManager/* /var/lib/unbound/*.key
/bin/rm -rf /var/log/*debug /var/log/anaconda /var/log/dmesg*
/bin/rm -rf /var/lib/cloud/* /var/log/cloud-init*.log
truncate -s 0 /var/log/cron /var/log/tuned/tuned.log
truncate -s 0 /var/log/audit/audit.log /var/log/messages /var/log/secure
truncate -s 0 /var/log/btmp /var/log/wtmp /var/log/lastlog

# Update initramfs
dracut -f --regenerate-all

# Ensure everything is written to the disk
sync ; echo 3 > /proc/sys/vm/drop_caches ;
%end
