# CentOS 9 base image kickstart file

cmdline
zerombr
clearpart --all --initlabel --disklabel gpt
bootloader --timeout 1 --append "{{ boot_parameters }}"
#reqpart
#part / --fstype xfs --size 1024 --grow
autopart
selinux --enforcing
authselect --useshadow --passalgo sha512
rootpw --iscrypted {{ root_pw_encrypted }}
network --device net0 --bootproto dhcp --onboot yes --hostname {{ hostname }}
firewall --enabled --service ssh
firstboot --disabled
lang en_US.UTF-8
timezone --utc {{ timezone }}
{% for ntp_server in ntp_servers.split(',') %}
timesource --ntp-server {{ ntp_server }}
{% endfor %}
keyboard {{ keyboard }}
services --enabled tuned
reboot

%packages

@Core
bash-completion
bzip2
man-pages
nano
policycoreutils-python-utils
python3-libselinux
setools-console
tar
tuned
#unzip
vim-enhanced
yum-utils

{% if packer_builder == 'vmware' %}
perl
{%endif %}

-a*firmware*
-dracut-config-rescue
-i*firmware*
-lib*firmware*
-NetworkManager-team
-NetworkManager-tui
-parted
-plymouth
-sqlite
-sssd*
%end

%post --erroronfail
grub2-editenv - unset menu_auto_hide
echo "blacklist floppy" > /etc/modprobe.d/blacklist-floppy.conf
sed -Ei -e 's,^(#|)PermitRootLogin .*,PermitRootLogin yes,' /etc/ssh/sshd_config
%end
