# RHEL 8 base image kickstart file

cmdline
zerombr
clearpart --all --initlabel --disklabel gpt

{% if boot_pw_encrypted == '' %}
bootloader --timeout 1 --append "{{ boot_parameters }}"
{% else %}
bootloader --timeout 1 --append "{{ boot_parameters }}" --iscrypted --password {{ boot_pw_encrypted }}
{% endif %}

{% if partitioning is defined and partitioning == 'auto' %}
autopart
{% elif partitioning is defined and partitioning == 'single' %}
{% if boot_bios_uefi|bool|int == 0 %}
reqpart
{% else %}
part biosboot  --fstype biosboot --size 1
part /boot/efi --fstype efi      --size 63
{% endif %}
part /         --fstype xfs      --size 1024 --grow
{% else %}
{% if boot_bios_uefi|bool|int == 0 %}
reqpart
{% else %}
part biosboot  --fstype biosboot --size 1
part /boot/efi --fstype efi      --size 63
{% endif %}
part /boot     --fstype xfs      --size 1024
part pv.01                       --size 1024 --grow
volgroup vg_rhel pv.01
logvol swap           --vgname vg_rhel --fstype swap --size 4096  --name lv_swap
logvol /              --vgname vg_rhel --fstype xfs  --size 6144  --name lv_root
logvol /home          --vgname vg_rhel --fstype xfs  --size 2048  --name lv_home
logvol /tmp           --vgname vg_rhel --fstype xfs  --size 2048  --name lv_tmp
logvol /var           --vgname vg_rhel --fstype xfs  --size 8192  --name lv_var
logvol /var/log       --vgname vg_rhel --fstype xfs  --size 2048  --name lv_var_log
logvol /var/log/audit --vgname vg_rhel --fstype xfs  --size 2048  --name lv_var_log_audit
logvol /var/tmp       --vgname vg_rhel --fstype xfs  --size 2048  --name lv_var_tmp
{% endif %}

selinux --enforcing
authselect --useshadow --passalgo sha512
rootpw --iscrypted {{ root_pw_encrypted }}

{% if ipv6_disable|bool|int == 0 %}
network --device net0 --bootproto dhcp --onboot yes --hostname {{ hostname }}
{% else %}
network --device net0 --bootproto dhcp --onboot yes --hostname {{ hostname }} --noipv6
{% endif %}

firewall --enabled --service ssh
firstboot --disabled
lang en_US.UTF-8
timezone --ntpservers {{ ntp_servers }} --utc {{ timezone }}
keyboard {{ keyboard }}
services --enabled tuned
poweroff

{% if security_profile is defined %}
%addon org_fedora_oscap
content-type = scap-security-guide
profile = xccdf_org.ssgproject.content_profile_{{ security_profile }}
%end
{% endif %}

%packages
@Core
bash-completion
bzip2
#cloud-init
#cloud-utils-growpart
#insights-client
man-pages
nano
policycoreutils-python-utils
prefixdevname
psmisc
python3
python3-libselinux
setools-console
#sos
tar
tuned
#unzip
vim-enhanced
yum-utils

{% if boot_bios_uefi|bool|int == 1 %}
efibootmgr
-flashrom
grub2-efi-x64
grub2-pc
-mdadm
#parted
shim-x64
{% endif %}

{% if security_profile is defined %}
aide
openscap
openscap-scanner
scap-security-guide
{% endif %}

{% if packer_builder == 'vmware' %}
perl
{%endif %}

-a*firmware*
-biosdevname
-dracut-config-rescue
-i*firmware*
-lib*firmware*
-NetworkManager-team
-NetworkManager-tui
-parted
-plymouth
-rhc
-sqlite
-sssd*
%end

%post --erroronfail
echo "blacklist floppy" > /etc/modprobe.d/blacklist-floppy.conf
sed -i -e 's,^AllowZoneDrifting=yes,AllowZoneDrifting=no,' /etc/firewalld/firewalld.conf
sed -i -e '/cockpit/d' /etc/firewalld/zones/public.xml
rm -f /etc/firewalld/zones/public.xml.old
%end

{% if boot_bios_uefi|bool|int == 1 %}
%post --erroronfail
for grubcfg in /boot/grub2/grub.cfg /boot/efi/EFI/redhat/grub.cfg; do
  grub2-mkconfig -o $grubcfg
  sed -i -n '1,/BEGIN.*uefi.*/p;/END.*uefi.*/,$p' $grubcfg
done
if [ -d /sys/firmware/efi ]; then
  test -b /dev/vda && disk=/dev/vda || disk=/dev/sda
  rpm -q grub2-pc > /dev/null 2>&1 && grub2-install --target=i386-pc $disk || :
  #rpm -q parted > /dev/null 2>&1 && parted $disk disk_set pmbr_boot off || :
fi
%end
{% endif %}

{% if ipv6_disable|bool|int == 1 %}
%post --erroronfail
for netconf in $(ls -1 /etc/sysconfig/network-scripts/ifcfg-* | grep -v ifcfg-lo); do
  sed -i -e 's,^IPV6INIT=yes,IPV6INIT=no,' $netconf
done
sed -i -e '/^::1/d' /etc/hosts
sed -i -e 's,^OPTIONS=",OPTIONS="-4 ,g' -e 's, ",",' /etc/sysconfig/chronyd
sed -i -e 's,^IPv6_rpfilter=yes,IPv6_rpfilter=no,' /etc/firewalld/firewalld.conf
sed -i -e '/dhcpv6-client/d' /etc/firewalld/zones/public.xml
if [ -d /etc/vmware-tools ]; then
  echo "[guestinfo]" > /etc/vmware-tools/tools.conf
  echo "max-ipv6-routes=0" >> /etc/vmware-tools/tools.conf
fi
%end
{% endif %}


%post --erroronfail
# Import Red Hat RPM GPG key
rpm --import /etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release

# Update to latest packages
#curl -ksS ...
#yum -y update
#yum -y install katello-host-tools katello-host-tools-tracer
#subscription-manager unregister
#subscription-manager clean
#rm -f /etc/rhsm/syspurpose/syspurpose.json /var/lib/rhsm/cache/* \
#  /var/lib/rhsm/facts/*.json /var/lib/rhsm/repo*/*.repo /var/lib/rhsm/*_name

{% if create_admin is defined and create_admin|bool|int == 1 %}
# Create admin group and user
groupadd -g 4444 admin
useradd -c "Admin User" -g 4444 -G wheel -m -u 4444 admin
mkdir -m 0700 /home/admin/.ssh
echo "ssh-rsa ..." > /home/admin/.ssh/authorized_keys
chown 4444:4444 /home/admin/.ssh /home/admin/.ssh/authorized_keys
chmod 0600 /home/admin/.ssh/authorized_keys
echo '%wheel ALL=(ALL) NOPASSWD:ALL' > /etc/sudoers.d/wheel
chmod 0440 /etc/sudoers.d/wheel
restorecon -R /home/admin/.ssh /etc/sudoers.d/wheel

{% if disable_root is defined and disable_root|bool|int == 1 %}
# Lock root account - caution needed
passwd -l root
{% endif %}
{% endif %}

# Configure root SSH access
sed -Ei -e 's,^(#|)PermitRootLogin .*,PermitRootLogin {{ ssh_permit_root }},' /etc/ssh/sshd_config

# Services
systemctl disable dnf-makecache.timer loadmodules.service nis-domainname.service remote-fs.target
rpm -q NetworkManager > /dev/null 2>&1 || systemctl enable network.service

# Watchdog
sed -i -e 's,^#RuntimeWatchdogSec=0,RuntimeWatchdogSec=60s,' /etc/systemd/system.conf

# Remove machine identification and state
for netdev in $(nmcli -t dev | cut -d: -f1 | grep -v lo); do
  sed -i -e '/UUID=/d' /etc/sysconfig/network-scripts/ifcfg-$netdev
  sed -i -e '/DHCP_/d' /etc/sysconfig/network-scripts/ifcfg-$netdev
  sed -i -e '/__/d' /etc/sysconfig/network-scripts/ifcfg-$netdev
done
truncate -s 0 /etc/machine-id /etc/resolv.conf
/bin/rm -rf /etc/systemd/network/7* /etc/udev/rules.d/7* /etc/ssh/ssh_host_*
/bin/rm -rf /var/lib/systemd/random-seed

# Clear caches, files, and logs
/bin/rm -rf /root/* /tmp/* /tmp/.[a-zA-Z]* /var/tmp/*
/bin/rm -rf /etc/*- /etc/*.bak /etc/*~ /etc/sysconfig/*~
/bin/rm -rf /var/cache/dnf/* /var/cache/yum/*
/bin/rm -rf /var/lib/dnf/* /var/lib/yum/repos/* /var/lib/yum/yumdb/*
/bin/rm -rf /var/lib/NetworkManager/* /var/lib/unbound/*.key
/bin/rm -rf /var/log/*debug /var/log/anaconda /var/log/dmesg*
/bin/rm -rf /var/lib/cloud/* /var/log/cloud-init*.log
truncate -s 0 /var/log/cron /var/log/rhsm/rhsmcertd.log /var/log/tuned/tuned.log
truncate -s 0 /var/log/audit/audit.log /var/log/messages /var/log/secure
truncate -s 0 /var/log/btmp /var/log/wtmp /var/log/lastlog

# Update initramfs
dracut -f --regenerate-all

# Create kdump initramfs for the newest kernel
kver_latest=$(rpm -q --qf "%{version}-%{release}.%{arch}\n" kernel | sort -V | tail -n 1)
sed -i -e "s,^KDUMP_KERNELVER=.*,KDUMP_KERNELVER=$kver_latest," /etc/sysconfig/kdump
kdumpctl rebuild
sed -i -e 's,^KDUMP_KERNELVER=.*,KDUMP_KERNELVER="",' /etc/sysconfig/kdump

# Ensure everything is written to the disk
sync ; echo 3 > /proc/sys/vm/drop_caches ;
%end
