#!/bin/sh

# Create kdump initramfs later
systemctl stop kdump.service

# Import Red Hat RPM GPG key
rpm --import /etc/pki/rpm-gpg/RPM-GPG-KEY-redhat-release

{% if create_admin is defined and create_admin|bool|int == 1 %}
# Create admin group and user
groupadd -g 4444 admin
useradd -c "Admin User" -g 4444 -G wheel -m -u 4444 admin
mkdir -m 0700 /home/admin/.ssh
echo "ssh-rsa ..." > /home/admin/.ssh/authorized_keys
chown 4444:4444 /home/admin/.ssh /home/admin/.ssh/authorized_keys
chmod 0600 /home/admin/.ssh/authorized_keys
echo '%wheel ALL=(ALL) NOPASSWD:ALL' > /etc/sudoers.d/wheel
chmod 0440 /etc/sudoers.d/wheel
restorecon -R /home/admin/.ssh /etc/sudoers.d/wheel

{% if disable_root is defined and disable_root|bool|int == 1 %}
# Lock root account and disable remote login
passwd -l root
sed -i -e 's,^PermitRootLogin yes,PermitRootLogin no,' /etc/ssh/sshd_config
{% endif %}
{% endif %}

# Services
systemctl disable dnf-makecache.timer loadmodules.service nis-domainname.service remote-fs.target
rpm -q NetworkManager > /dev/null 2>&1 || systemctl enable network.service

# Watchdog
sed -i -e 's,^#RuntimeWatchdogSec=0,RuntimeWatchdogSec=60s,' /etc/systemd/system.conf

# Disable logging while erasing logs
systemctl stop rsyslog.service

# Remove machine identification and state
for netdev in $(nmcli -t dev | cut -d: -f1 | grep -v lo); do
  netuuid=$(uuidgen)
  sed -i -e "s,^UUID=.*,UUID=$netuuid," /etc/sysconfig/network-scripts/ifcfg-$netdev
  sed -i -e '/^DHCP_HOSTNAME=/d'   /etc/sysconfig/network-scripts/ifcfg-$netdev
  sed -i -e '/^DHCPV6_HOSTNAME=/d' /etc/sysconfig/network-scripts/ifcfg-$netdev
done
truncate -s 0 /etc/machine-id /etc/resolv.conf
/bin/rm -rf /etc/systemd/network/7* /etc/udev/rules.d/7* /etc/ssh/ssh_host_*
/bin/rm -rf /var/lib/systemd/random-seed

# Clear caches, files, and logs
/bin/rm -rf /root/* /tmp/* /var/tmp/*
/bin/rm -rf /etc/*- /etc/*.bak /etc/*~ /etc/sysconfig/*~
/bin/rm -rf /var/cache/dnf/* /var/cache/yum/*
/bin/rm -rf /var/lib/dnf/* /var/lib/yum/repos/* /var/lib/yum/yumdb/*
/bin/rm -rf /var/log/*debug /var/log/anaconda /var/log/dmesg*
truncate -s 0 /var/log/audit/audit.log /var/log/messages /var/log/secure
truncate -s 0 /var/log/btmp /var/log/wtmp /var/log/lastlog

# Update initramfs
dracut -f --regenerate-all
kdumpctl rebuild

# Ensure everything is written to the disk
sync ; echo 3 > /proc/sys/vm/drop_caches ;
